<!doctype html>
<html lang="en">
<head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <!-- Allow any inheriting page to set it's own title -->
    <title>Scout Quest - Server</title>

    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100">
<header class="bg-blue-500 text-white p-4">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold">Scout Quest</h1>
    </div>
</header>
<div id="content" class="container mx-auto mt-8">
    <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
    {% block content %}{% endblock %}
</div>
</body>
</html>